
@{
    ViewBag.Title = "Tree-dnd";
}

    <script src="~/App/Tree-dnd/dist/ng-tree-dnd.debug.js"></script>
    <link rel="stylesheet" href="~/App/Tree-dnd/dist/ng-tree-dnd.min.css">
    <link rel="stylesheet" href="~/App/Tree-dnd/framework/vendor/prism.css">
    <link rel="stylesheet" href="~/App/Tree-dnd/framework/demo-framework.css">
    <link rel="stylesheet" href="~/App/Tree-dnd/multi/multi.css">
    <script src="~/App/Tree-dnd/framework/vendor/prism.js"></script>
    <script src="~/App/Tree-dnd/framework/demo-framework.js"></script>
    <script src="~/App/Tree-dnd/framework/view-source.js"></script>

    <script src="~/App/Tree-dnd/filter/filter.js"></script>
    <script src="~/App/Tree-dnd/custom/custom.js"></script>
    <script src="~/App/Tree-dnd/basic/basic.js"></script>
    <script src="~/App/Tree-dnd/list/list.js"></script>
    <script src="~/App/Tree-dnd/multi/multi.js"></script>

    <script src="~/App/Tree-dnd/basic/basic-toolbar.js"></script>

  

<div ng-app="TreeDnDTest">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Angular Tree-DnD</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" navigation></ul>
            </div>
        </div>
    </div>
    
    <h3>Angular Tree Drag & Drop</h3>

    <p>Tree DnD & Event DrapnDrop (allow drag multi tree-table include all type: table, ol, ul) Display data tree by AngularJS, using CSS animation and Bootstrap style </p>
    <p>
        <a class="btn btn-success" href="https://github.com/thienhung1989/angular-tree-dnd">Code on github</a>
    </p>
    <div ng-view> </div>
</div>

    
